<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Sign Up
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="prev()">
        <ion-icon slot="start" name="arrow-back"></ion-icon> Prev
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="registrationForm">
      
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input formControlName="username" type="text"
          [class.invalid]="!registrationForm.controls.username.valid && (registrationForm.controls.username.dirty || submitAttempt)">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="registrationForm.controls.username.pending">
        <p>Checking username...</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email" type="email"
          [class.invalid]="!registrationForm.controls.email.valid && (registrationForm.controls.email.dirty || submitAttempt)">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="!registrationForm.controls.email.valid  && (registrationForm.controls.email.dirty || submitAttempt)">
        <p>Please enter a valid email.</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input formControlName="password" type="password"
          [class.invalid]="!registrationForm.controls.email.valid && (registrationForm.controls.email.dirty || submitAttempt)">
        </ion-input>
      </ion-item>

      <ion-item
        *ngIf="!registrationForm.controls.password.valid  && (registrationForm.controls.password.dirty || submitAttempt)">
        <p>Please enter a valid password.</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Bio</ion-label>
        <ion-textarea formControlName="bio"></ion-textarea>
      </ion-item>
    </form>

    <ion-button expand="full" (click)="save(registrationForm)">Create Account!</ion-button>

</ion-content>