<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="makePost()">
    <ion-fab-button id="new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 <ion-list appAnimateItems>
    <img src="\assets\header.jpg" alt="some image">
    
    <ion-item *ngFor="let post of posts">
      <div class = "card list">
        <!-- Header or User information -->
        <div class = "ion-padding ion-margin-top" id="card-header">
          <h3> 
            <img (click)="goToUser(this.post.user_id)" src="{{ post.avatar }}" alt="Avatar" class="avatar"> 
          @{{ post.user }}</h3>
        </div>
        <!-- Content -->
        <div class = "item item-text-wrap ion-padding ion-text-center" id="card-content">
          <p>{{ post.date|date}}</p>
          <p id="postText" (click)="displayPost(this.post.id)">{{ post.post_text }}</p>
          <img src="{{ post.post_image }}" alt="" class="image">
        </div>
        <!-- Footer or buttons -->
        <div class = "item item-divider ion-margin-bottom">
          <app-animated-like>{{ post.likes }}</app-animated-like>
          <ion-button (click)="openComments(this.post.id)">Comments <ion-icon name="chatboxes"></ion-icon></ion-button>
          <ion-button item-end>
            <ion-icon name="logo-twitter"></ion-icon>
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-whatsapp"></ion-icon>
          </ion-button>
        </div>
     </div>

    </ion-item>
  </ion-list>
</ion-content>