<ion-content>

  <ion-list appAnimateItems>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="/assets/avatar.jpg">
      </ion-thumbnail>
      <h2>Rafa</h2>
      <p>Esto es un twit de ejemplo • 2019</p>
      <button ion-button clear item-end>Like</button>
      <button ion-button item-end>Share...</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="/assets/avatar.jpg">
      </ion-thumbnail>
      <h2>Rafa</h2>
      <p>Esto es un twit de ejemplo • 2019</p>
      <button ion-button clear item-end>Like</button>
      <button ion-button item-end>Share...</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="/assets/avatar.jpg">
      </ion-thumbnail>
      <h2>Rafa</h2>
      <p>Esto es un twit de ejemplo • 2019</p>
      <button ion-button clear item-end>Like</button>
      <button ion-button item-end>Share...</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="/assets/avatar.jpg">
      </ion-thumbnail>
      <h2>Rafa</h2>
      <p>Esto es un twit de ejemplo • 2019</p>
      <button ion-button>Like</button>
      <button ion-button item-end>Share...</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="/assets/avatar.jpg">
      </ion-thumbnail>
      <h2>Rafa</h2>
      <p>Esto es un twit de ejemplo • 2019</p>
      <button ion-button>Like</button>
      <button ion-button item-end>Share...</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="/assets/avatar.jpg">
      </ion-thumbnail>
      <h2>Rafa</h2>
      <p>Esto es un twit de ejemplo • 2019</p>
      <button ion-button>Like</button>
      <button ion-button item-end>Share...</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="/assets/avatar.jpg">
      </ion-thumbnail>
      <h2>Rafa</h2>
      <p>Esto es un twit de ejemplo • 2019</p>
      <button ion-button>Like</button>
      <button ion-button item-end>Share...</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="/assets/avatar.jpg">
      </ion-thumbnail>
      <h2>Rafa</h2>
      <p>Esto es un twit de ejemplo • 2019</p>
      <button ion-button>Like</button>
      <button ion-button item-end>Share...</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="/assets/avatar.jpg">
      </ion-thumbnail>
      <h2>Rafa</h2>
      <p>Esto es un twit de ejemplo • 2019</p>
      <button ion-button>Like</button>
      <button ion-button item-end>Share...</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="/assets/avatar.jpg">
      </ion-thumbnail>
      <h2>Rafa</h2>
      <p>Esto es un twit de ejemplo • 2019</p>
      <button ion-button>Like</button>
      <button ion-button item-end>Share...</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="/assets/avatar.jpg">
      </ion-thumbnail>
      <h2>Rafa</h2>
      <p>Esto es un twit de ejemplo • 2019</p>
      <button ion-button>Like</button>
      <button ion-button item-end>Share...</button>
    </ion-item>
    <ion-item>
      <ion-thumbnail item-start>
        <img src="/assets/avatar.jpg">
      </ion-thumbnail>
      <h2>Rafa</h2>
      <p>Esto es un twit de ejemplo • 2019</p>
      <button ion-button>Like</button>
      <button ion-button item-end>Share...</button>
    </ion-item>
  </ion-list>
</ion-content>