<ion-content>

  <ion-card class="user-card" *ngFor="let user of users">
    <ion-img src="/assets/header.jpg"></ion-img>
    <ion-card-header>
      <img src="{{ user.avatar }}" alt="Avatar" class="avatar">
      <ion-card-title>{{ user.username }}</ion-card-title>
      <button>Edit profile</button>
      <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ user.bio }}</p>
    </ion-card-content>
  </ion-card>

  <ion-list appAnimateItems>
    <ion-item *ngFor="let post of posts">
      <ion-thumbnail item-start>
        <img src="{{ post.avatar }}" alt="Avatar" class="avatar">
      </ion-thumbnail>
      <p>{{ post.user }}</p>
      <p>{{ post.post_text }} • {{ post.date }}</p>
      <app-animated-like></app-animated-like>
      <button ion-button item-end>Share...</button>
    </ion-item>
  </ion-list>

</ion-content>